 .spinner {
width: 30px;
height: 0px;
display:inline-block;
position:absolute;
background-color: rgba(0,0,0,0.75);
margin-left: 10px;
margin-top: 15px;
top:5px;
-webkit-animation: rotateplane 1.2s infinite ease-in-out;
animation: rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes rotateplane {
0% { -webkit-transform: perspective(120px) }
50% { -webkit-transform: perspective(120px) rotateY(180deg) }
100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

.paused {
   -ms-animation-play-state:initial;
   -o-animation-play-state:initial;
   -moz-animation-play-state:initial;
   -webkit-animation-play-state:initial;
  animation-play-state: initial;
}